@import url('https://fonts.googleapis.com/css?family=Exo+2');

#brandName {
    font-family: 'Exo 2', sans-serif;
}

.extraDiv {
    width: 100%;
    height: auto;
    /* background: orange; */
    display: flex;
    justify-content: space-around;   
    align-items: center;  
}