@import url('https://fonts.googleapis.com/css?family=Exo+2');

#brandName {
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
}


.skillsDiv {
    width: 100%;
    height: 800px;
    /* background: black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
